{% extends 'base.html' %}

{% block title %}Weather{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title text-primary">Current Weather at Home</h2>
                    <pre class="card-text bg-light p-3 rounded border">{{ weather | tojson(indent=2) }}</pre>
                    <a href="/" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}